@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Merriweather", serif;
}

.p-dialog-header {
    padding: 10px 10px;
  }
  
  .p-dialog-content {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .p-button {
    display: flex;
    width: fit-content;
    gap: 0 8px;
    padding: 5px 10px;
    
  }
  